nav .brand-logo, nav ul a{
  color:rgb(68, 68, 68);
}
.lighten-1{
  background-color:rgb(0, 0, 0);
}
body{
  background-color:rgb(255, 255, 255);
}
.col:empty{
  display:table-cell;
  height:75px;
}
.caption.center-align{
  background-color:rgba(1, 0, 0, 0.69);
  padding:10px 0 10px 0;
  width:0px;
  padding-top:10px;
  padding-right:0px;
  padding-bottom:10px;
  padding-left:0px;
}
.caption.left-align{
  background-color:rgba(0, 0, 0, 0.75);
}
.caption.right-align{
  background-color:rgba(0, 0, 0, 0.75);
}
.col.m6{
  text-align:center;
  padding:34px 10.875px 0 10.875px;
  padding-top:5px;
  padding-right:10.875px;
  padding-bottom:0px;
  padding-left:10.875px;
  margin:28px 0 0 0;
  line-height:37.5px;
  margin-top:22px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
}
.row{
  font-weight:400;
}
.c4873{
  color:rgba(0, 0, 0, 0.87);
  font-family:Roboto, sans-serif;
  font-size:16px;
  font-style:normal;
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-weight:400;
  letter-spacing:normal;
  orphans:2;
  text-align:center;
  text-indent:0px;
  text-transform:none;
  white-space:normal;
  widows:2;
  word-spacing:0px;
  -webkit-text-stroke-width:0px;
  background-color:rgb(255, 255, 255);
  text-decoration-style:initial;
  text-decoration-color:initial;
  display:inline !important;
  float:none;
}
.c5149{
  font-weight:600;
}
.c5167{
  font-weight:400;
}
.c5369{
  font-size:16px;
  font-weight:400;
}
.c5396{
  font-weight:400;
}
.c5579{
  font-weight:600;
}
.c5588{
  font-weight:600;
}
.c5607{
  font-weight:400;
}
.c5634{
  font-weight:400;
}
footer.gram-footer ul.collection > li.collection-header, footer.gram-footer ul.collection > li.collection-item{
  background-image:initial;
  background-position-x:0px;
  background-position-y:0px;
  background-size:initial;
  background-repeat-x:initial;
  background-repeat-y:initial;
  background-attachment:initial;
  background-origin:initial;
  background-clip:initial;
  background-color:initial;
  border-top-width:0px;
  border-right-width:0px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-top-style:initial;
  border-right-style:initial;
  border-bottom-style:initial;
  border-left-style:initial;
  border-top-color:initial;
  border-right-color:initial;
  border-bottom-color:initial;
  border-left-color:initial;
  border-image-source:initial;
  border-image-slice:initial;
  border-image-width:initial;
  border-image-outset:initial;
  border-image-repeat:initial;
}
footer.gram-footer ul.collection{
  border-top-width:0px;
  border-right-width:0px;
  border-bottom-width:0px;
  border-left-width:0px;
  border-top-style:initial;
  border-right-style:initial;
  border-bottom-style:initial;
  border-left-style:initial;
  border-top-color:initial;
  border-right-color:initial;
  border-bottom-color:initial;
  border-left-color:initial;
  border-image-source:initial;
  border-image-slice:initial;
  border-image-width:initial;
  border-image-outset:initial;
  border-image-repeat:initial;
}
footer.page-footer{
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
}
#contact input#your-email, #contact textarea#your-message{
  color:rgb(255, 255, 255);
}
.page-footer.gram-footer{
  color:rgb(255, 255, 255);
  background-color:rgb(0, 0, 0);
}
.collection-item{
  background-color:rgb(3, 0, 0);
  font-size:20px;
}
#i9j9rq{
  width:221px;
  height:147px;
}
#izslkc{
  line-height:15px;
  font-size:16px;
  font-weight:600;
  text-align:center;
  padding-top:26px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
}
#iwyefv{
  font-weight:600;
}
#ia659j{
  font-weight:400;
}
#ijd7kz{
  font-weight:400;
}
#is3x2h{
  width:221px;
  height:147px;
}
#iqacdw{
  line-height:15px;
  font-size:16px;
  font-weight:600;
  text-align:center;
  padding-top:32px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
}
#iyopif{
  width:221px;
  height:147px;
}
#i8yx9p{
  line-height:15px;
  font-size:16px;
  font-weight:600;
  text-align:center;
  padding-top:26px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
}
#is4ei{
  width:224px;
  height:136.8px;
}
#izxeq{
  line-height:15px;
  font-size:16px;
  font-weight:600;
  text-align:center;
  padding-top:35px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
}
.gjs-comp-selected{
  font-size:31px;
  font-weight:200;
}
.collection{
  text-align:left;
  font-weight:300;
}
.c1531{
  font-size:26px;
  text-align:center;
  background-color:rgb(241, 241, 241);
}
a{
  color:black;
}
.gjs-comp-selected.c5194{
  font-weight:400;
}
.gjs-comp-selected.c5396{
  font-weight:400;
}

